@import './variables';

@import './mixins';

.loginPart{
    width: 30% - 3%;
    height: 50%;
    // border: 1px solid red;
    position: relative;
    top: 20%;
    left: 55%;
    background-color: #ffffff;
    box-shadow: 2px 2px 10px lightgray;

    &__form{
        width: 94%;
        height: 35%;
        // border: 1px solid green;
        position: absolute;
        top: 3%;
        left: 3%;

        &--inputGroup1{
            @include boxStyle();

            &::placeholder{
                @include placeHolder();
            }
        }

        &--inputGroup2{
            @include boxStyle();
            position: absolute;
            top: 53%;
            left: 0;

            &::placeholder{
                @include placeHolder();
            }
        }

        &--btnLogIn{
            @include boxStyle();
            background-color: $brand-border-color;
            position: absolute;
            top: 106%;
            left: 0;

            .logIn{
                color: $login-create-font-color;
                font-family: 'Segoe UI';
                font-weight: 900;
                font-size: 18px;
            }
        }
    }
}

.passDialogue{
    position: absolute;
    top: 59%;
    left: 34%;
    color: $passDialogue-color;
    font-size: 14px;
    font-family: 'Segoe UI';
}

.divider{
    width: 93%;
    position: absolute;
    top: 74% - 3%;
    left: 4%;
    color: $horizontal-rule-color;
    opacity: 30%;
}

.btnCreate{
    @include boxStyle();
    width: 44%;
    height: 15%;
    position: absolute;
    top: 79%;
    left: 30%;
    background-color: $create-background-color;

    .createId{
        color: $login-create-font-color;
        font-family: 'Segoe UI';
        font-weight: 700;
    }
}

.belowDialogue{
    position: absolute;
    top: 73%;
    left: 59%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;

    &__dialogue1{
        font-weight: bold;
    }
}