
$color-2: #4d80d8;
$color-7: #3bdb15;
$color-8: #fcfcfc;
$color-10: #1b212b;


$brand-border-color: #3a71cf;


$email-section-font: #616368;
$email-section-background:  #fff;
$login-background-color: #1c61d8;
$login-create-font-color: #fff;
$passDialogue-color: #5582cf;
$horizontal-rule-color: #707070;
$create-background-color: #42c723;
$box-background-color: #f2f2f2;
$click-dialogue: #5d6064;
$account-name: #181819;